* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('map.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  text-align: center;
  padding-top: 50px;
}

input {
  width: 40%;
  font-size: 30px;
  margin-top: 20px;
  padding: 15px;
}

.results {
  width: 40%;
  font-size: 20px;
  background: white;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 0px 2px #9ACBFF;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
}

.results :hover {
  color: #9ACBFF;
}

.details {
  width: 50%;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 2px #9ACBFF;
}

.details-list {
  padding: 20px;
}

.details-list  span {
  font-weight: bold;
}

.details-list  img {
  width: 22%;
}

button {
  padding:20px;
  background-color: #9ACBFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
